$spacer: 20px;
$paragraph-margin-bottom: 20px;

$garthdee-brand: #674769;
$garthdee-brand-dark: #523954;
$garthdee-background: #F3F3F3;
$garthdee-text: #042029;
$garthdee-text-footer: #0A2933;
$garthdee-link: #946697;
$garthdee-link-hover: #835A85;

// This is NOT just used for body background! Hence the override in garthdee.scss
$body-bg: #fff;
$body-color: $garthdee-text;
$link-color: $garthdee-link;

$dropdown-link-active-bg: $garthdee-brand;

$activity-icon-colors: (
    "administration": #A55EEA,
    "assessment": #12B9B1,
    "collaboration": #F88232,
    "communication": #F5B731,
    "content": #2E98DA,
);
