<style>

pre {
    font-family:    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:      16px;
    line-height:    1.5rem;
    color:          rgb(33, 37, 41);
    margin-bottom:  20px;
    padding:        20px;
    border-bottom:  1px solid #eee;
}

a {
    font-family:    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:      16px;
    line-height:    1.5rem;
    color:          #3667D6;
    text-decoration: underline;
}

</style>